addon/doc/*.css
addon/doc/en/*
!addon/doc/en/readme.md
*_docHandler.py
*.html
!doc/es/readme.html
!doc/readme.html
manifest.ini
!manifest.ini
!addon/manifest.ini
*.mo
*.pot
*.py[co]
*.nvda-addon
*.zip
.sconsign.dblite
/[0-9]*.[0-9]*.[0-9]*.json
*.egg-info
scratch/
addon/globalPlugins/python_tutor/user_data/
